body {
 margin: 0px;
 padding: 0px;
 display: flex;
}
/* body {
    background-color: #1a2f44;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px; */
}

h1 {
    color: gold;
    text-align: center;
}

header {
 background: black;
 color: white;
/* width: 100%; */
 height: 100px;
 text-align: center;
 line-height: 100px;
 border-bottom: 5px solid grey;
 float: left;
}

main {
 background: silver;
 color: black;
/* width: 200px; */
 height: 550px;
 padding: 20px 50px;
/* float: left; */
 overflow-wrap: break-word;
 flex: 1;
 box-sizing: border-box;
}

aside {
 background: grey;
 color: gold; 
/* width: 100px; */
 height: 550px;
 padding: 75px 20px;
/* float: left; */
 overflow-wrap: break-word;
 flex: 1;
 box-sizing: border-box;
}

footer {
background: black;
color: red;
/* width: 100%; */
height: 50px;
text-align: center;
line-height: 50px;
border-top: 7px double red;
/* float: right; */
}

