body {
 margin: 0px;
 padding: 0px;
 display: flex;
 flex-wrap: wrap;
 background: rgba(255, 20, 20, 0.2);
 font-family: 'Inter', sans-serif;
 /* animation: LoaDing 0.85s ease; */
}

/* @keyframes LoaDing {
 from {
  opacity: 0;
  transform: translateX(-40px);
 }
 to {
  opacity: 1;
  transform: translateX(0);
 }
} */

.ld {
 position: fixed;
 inset: 0;
 background: #990606;
 display: flex;
 justify-content: center;
 align-items: center; 
 z-index: 9967;
 animation: LD 1s ease 2s forwards;
}

@keyframes LD {
 to {
  opacity: 0;
  visibility: hidden;
 }
}

.dots {
 display: flex;
 gap: 15px;
 justify-content: center;
 margin-top: 30px;
}

.dots span {
 width: 20px;
 height: 20px;
 background: orange;
 animation: zxc 0.5s infinite alternate;
 border-radius: 50%;
}

.dots span:nth-child(2) {
 animation-delay: 0.2s;
}

.dots span:nth-child(3) {
 animation-delay: 0.4s;
}

@keyframes zxc {
 to {
  transform: translateY(-30px) 
 }
}

header {
 background: black;
 color: red;
 width: 100%; 
 height: 100px;
 text-align: center;
 /* line-height: 100px; */
 padding: 20px 20px;
 border-bottom: 5px double red;
 filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.5));
 box-shadow: inset 0 0 20px rgba(170, 170, 170, 0.7); 
}

.hedr:hover {
 color: orange;
 transform: scale(1.1);
 transition: all 0.2s ease;
}

main {
 background: #990606;
 color: black;
 height: 550px;
 /* padding: 20px; */
 overflow-wrap: break-word;
 flex: 1;
 box-sizing: border-box;
 box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
 display: flex;
 flex-direction: column;
 box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);
}

#main {flex: 3;
       padding: 20px;}

#unmain {flex: 1; 
         border-top: 3px solid red;
         padding: 10px;}

#go {
 display: inline-block;
 width: 120px;
 height: 40px;
 background: linear-gradient(45deg, red, orange, red) ;
 color: black;
 text-decoration: none;
 border: 2px solid black;
 border-radius: 10px;
 text-align: center;
 box-shadow: 0 5px 0 #990000;
}

li {
 position: relative;
 left: -15px;
 color: black;
}

a {
 color: black;
 transition: all 0.25s ease;
 transform: scale(1.1);
 display: inline-block;
}

a:hover {
 transform: scale(1.1) rotate(5deg) translateY(5px);
 color: gold;
}

header p {
 text-shadow:
  0 0 8px red, 
  0 0 12px grey, 
  0 0 16px black;
}

main p, li {
 text-shadow:
  0 0 6px red, 
  0 0 9px orange, 
  0 0 12px red;
}

/* .sui {
 display: none;
 gap: 15px;
 margin-top: 20px;
 background: rgba(255, 170, 10, 0.5);
 border-radius: 12px;
 flex-direction: column;
}

 #burger:checked ~ .sui {
 display: flex;
} */

aside p {
 text-shadow:
  0 0 8px orange, 
  0 0 12px red, 
  0 0 16px red;
}

aside {
 background: linear-gradient(45deg, black, red, orange, yellow);
 color: black; 
 height: 550px;
 padding: 20px;
 overflow-wrap: break-word;
 flex: 1;
 box-sizing: border-box;
 border-left: 3px groove red;
 box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);
}

button {
 width: 150px;
 height: 40px;
 background: linear-gradient(45deg, red, orange, red, yellow, red) ;
 color: black;
 border: 2px solid black;
 border-radius: 10px;
 text-align: center;
 box-shadow: 0 5px 0 #990000;
 animation: puk 2s infinite;
}

@keyframes puk {
 0% {transform: scale(1) translateY(0);}
 50% {transform: scale(1.05) translateY(3px);}
 100% {transform: scale(1) translateY(0);}
}

button:active {
    transform: translateY(4px);      
    box-shadow: 0 2px 0 #990000;
    animation: none;
}

 #burger {
 display: none; 
} 

.bikov {
 display: flex;
 flex-direction: column;
 width: 50px;
 height: 50px;
 justify-content: space-between;
 cursor: pointer;
 position: relative;
 margin-left: auto;
 margin-right: auto; 
 margin-top: 30px;
}

.bikov span {
 display: block;
 width: 100%;
 height: 4px;
 border-radius: 1px;
 background: yellow;
/*  margin-left: auto;
 margin-right: auto; 
 margin-top: 30px; */
 transition: all 0.35s ease;
}

#burger:checked + .bikov span:nth-child(1) {
 transform: translateY(23px) rotate(45deg);
}

#burger:checked + .bikov span:nth-child(2) {
 opacity: 0;
}

#burger:checked + .bikov span:nth-child(3) {
 transform: translateY(-23px) rotate(-45deg);
} 

.sui { 
 gap: 15px;
 margin-top: 20px;
 background: orange;
 border: 2px double red;
 border-radius: 12px;
 flex-direction: column;
}

#burger:checked .sui {
 display: flex;
 background-color: blue !important;
} 


footer {
background: black;
color: red; 
width: 100%; 
height: 50px;
text-align: center;
line-height: 50px;
border-top: 7px double red;
box-shadow: inset 0 0 20px rgba(170, 170, 170, 0.7);
}

main, aside {
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-width: 0; 
}

.salo {
 width: 100%;
 margin: 40px auto;
 border-radius: 15px;
 
}

.salo input[type="radio"] {
 display: none;
}

.ji {
