body {
 background: #1a1a2e;
 margin: 0;
 padding: 0;
 align-items: center;
 justify-content: center;
 display: flex;
}

#qwerty {
 perspective: 600px;
}

#cubik {
 transform-style: preserve-3d;
 animation: krutka 5s infinite linear;
 width: 150px;
 height: 150px;
 position: relative;
}

.www {
 width: 150px;
 height: 150px;
 background: linear-gradient(45deg, red, orange, yellow);
 color: black;
 font-size: 35px;
 display: flex;
 text-align: center;
 border: 3px solid silver;
 border-radius: 10px;
 box-shadow: 0 0 40px rgba(255, 100, 0, 0.5);
 position: absolute;
}

#front { transform: translateZ(75px);}
#back { transform: rotateY(180deg) translateZ(75px); }
#right { transform: rotateY(90deg) translateZ(75px); }
#left { transform: rotateY(-90deg) translateZ(75px); }
#top { transform: rotateX(90deg) translateZ(75px); }
#bottom { transform: rotateX(-90deg) translateZ(75px); }

#cubik:hover {
 animation-play-state: paused;
}

@keyframes krutka {
 from {transform: rotateY(0deg) rotateX(0deg);}
 to {transform: rotateY(360deg) rotateX(360deg);}
}
