body {
 margin: 0px;
 padding: 0px;
 display: flex;
 flex-wrap: wrap;
 background: var(--bobi);
 font-family: 'Inter', sans-serif;
 /* animation: LoaDing 0.85s ease; */
}

/* @keyframes LoaDing {
 from {
  opacity: 0;
  transform: translateX(-40px);
 }
 to {
  opacity: 1;
  transform: translateX(0);
 }
} */

.ld {
 position: fixed;
 inset: 0;
 background: var(--best);
 display: flex;
 justify-content: center;
 align-items: center; 
 z-index: 9967;
 animation: LD 1s ease 2s forwards;
}

@keyframes LD {
 to {
  opacity: 0;
  visibility: hidden;
 }
}

.dots {
 display: flex;
 gap: 15px;
 justify-content: center;
 margin-top: 30px;
}

.dots span {
 width: 20px;
 height: 20px;
 background: var(--o);
 animation: zxc 0.5s infinite alternate;
 border-radius: 50%;
}

.dots span:nth-child(2) {
 animation-delay: 0.2s;
}

.dots span:nth-child(3) {
 animation-delay: 0.4s;
}

@keyframes zxc {
 to {
  transform: translateY(-30px) 
 }
}

header {
 background: var(--b);
 color: var(--r);
 width: 100%; 
 height: 100px;
 text-align: center;
 /* line-height: 100px; */
 padding: 20px 20px;
 border-bottom: 5px double red;
 border-bottom-color: var(--r); 
 filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.5));
 box-shadow: inset 0 0 20px rgba(170, 170, 170, 0.7); 
}

.hedr:hover {
 color: var(--o);
 transform: scale(1.1);
 transition: all 0.2s ease;
}

main {
 background: var(--best);
 color: var(--t);
 height: 550px;
 /* padding: 20px; */
 overflow-wrap: break-word;
 flex: 1;
 box-sizing: border-box;
 box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
 display: flex;
 flex-direction: column;
 box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);
}

#main {flex: 3;
       padding: 20px;}

#unmain {flex: 1; 
         border-top: 3px solid red;
         border-bottom-color: var(--r);
         padding: 10px;}

#go {
 display: inline-block;
 width: 120px;
 height: 40px;
 background: linear-gradient(45deg, red, orange, red) ;
 color: var(--b);
 text-decoration: none;
 border: 2px solid black;
 border-color: var(--b);
 border-radius: 10px;
 text-align: center;
 box-shadow: 0 5px 0 #990000;
}

li {
 position: relative;
 left: -15px;
 color: var(--t);
}

a {
 color: var(--t);
 transition: all 0.25s ease;
 transform: scale(1.1);
 display: inline-block;
}

a:hover {
 transform: scale(1.1) rotate(5deg) translateY(5px);
 color: var(--g);
}

header p {
 text-shadow:
  0 0 8px red, 
  0 0 12px grey, 
  0 0 16px black;
}

main p, li {
 text-shadow:
  0 0 6px red, 
  0 0 9px orange, 
  0 0 12px red;
}

/* .sui {
 display: none;
 gap: 15px;
 margin-top: 20px;
 background: rgba(255, 170, 10, 0.5);
 border-radius: 12px;
 flex-direction: column;
}

 #burger:checked ~ .sui {
 display: flex;
} */

aside p {
 text-shadow:
  0 0 8px orange, 
  0 0 12px red, 
  0 0 16px red;
}

aside {
 background: linear-gradient(45deg, black, red, orange, yellow);
 color: var(--t); 
 height: 550px;
 padding: 20px;
 overflow-wrap: break-word;
 flex: 1;
 box-sizing: border-box;
 border-left: 3px groove red;
 border-left-color: var(--r);
 box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);
 min-width: 0;
}

button {
 width: 150px;
 height: 40px;
 background: linear-gradient(45deg, red, orange, red, yellow, red) ;
 color: var(--t);
 border: 2px solid black;
 border-color: var(--b);
 border-radius: 10px;
 text-align: center;
 box-shadow: 0 5px 0 #990000;
 animation: puk 2s infinite;
}

@keyframes puk {
 0% {transform: scale(1) translateY(0);}
 50% {transform: scale(1.05) translateY(3px);}
 100% {transform: scale(1) translateY(0);}
}

button:active {
    transform: translateY(4px);      
    box-shadow: 0 2px 0 #990000;
    animation: none;
}

/* #burger {
 display: none; 
} */

.bikov {
 display: flex;
 flex-direction: column;
 width: 50px;
 height: 50px;
 justify-content: space-between;
 cursor: pointer;
 position: relative;
 margin-left: auto;
 margin-right: auto; 
 margin-top: 30px;
}

.bikov span {
 display: block;
 width: 100%;
 height: 4px;
 border-radius: 1px;
 background: var(--y);
/*  margin-left: auto;
 margin-right: auto; 
 margin-top: 30px; */
 transition: all 0.35s ease;
}

details[open] .bikov span:nth-child(1) {
 transform: translateY(23px) rotate(45deg);
}

details[open] .bikov span:nth-child(2) {
 opacity: 0;
}

details[open] .bikov span:nth-child(3) {
 transform: translateY(-23px) rotate(-45deg);
} 

.sui { 
 display: flex;
 gap: 15px;
 margin-top: 20px;
 padding: 5px;
 background: var(--o);
 border: 2px double red;
 border-color: var(--r);
 border-radius: 12px;
 flex-direction: column;
 opacity: 0;
 transition: opacity 0.5s ease;
}

details[open] .sui {
 opacity: 1;
} 

.ronaldo {
 display: grid;
 grid-template-rows: 0fr;
 transition: all 0.4s ease;
 overflow: hidden;
 min-height: 0;
}

details[open] .ronaldo {
 grid-template-rows: 1fr;
}

footer {
background: var(--b);
color: var(--r); 
width: 100%; 
height: 50px;
text-align: center;
line-height: 50px;
border-top: 7px double red;
border-top-color: var(--r);
box-shadow: inset 0 0 20px rgba(170, 170, 170, 0.7);
}

main, aside {
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-width: 0; 
}

.salo {
 width: 100%;
 max-width: 350px;
 min-width: 0;
 margin: 40px auto;
 border-radius: 15px;
 overflow: hidden;
 border: solid 3px black;
 border-color: var(--b);
}

.salo input[type="radio"] {
 display: none;
}

.lasos {
 display: flex;
 width: 300%;
 transition: transform 0.5s ease;
}

.sos {
 width: 33.333%;
 height: 80px;
 display: flex;
 justify-content: center;
 align-items: center;
 color: var(--t);
}

.sos1 { background: var(--y); }
.sos2 { background: var(--bl);}
.sos3 { background: var(--gr);}

#ji1:checked ~ .lasos { transform: translateX(0); }
#ji2:checked ~ .lasos { transform: translateX(-33.333%); }
#ji3:checked ~ .lasos { transform: translateX(-66.666%); }

.cont {
 display: flex;
 justify-content: center;
 gap: 5px;
 padding: 7.5px;
 background: linear-gradient(90deg, black, grey, silver, white, silver, grey);
}

.cont label { 
 display: flex;
 justify-content: center;
 align-items: center;
 width: 20px;
 height: 20px;
 background: var(--gy);
 color: var(--w);
 border-radius: 50%;
 border: solid 1.5px black;
 border-color: var(--b);
 transition: all 0.3s ease;
}

.cont label:hover {
 transform:
  scale(1.1);
 color: var(--g);
}




html {
 --bobi: rgba(255, 20, 20, 0.4);
 --best: #990606;
 --b: black;
 --t: black;
 --o: orange;
 --r: red;
 --y: yellow;
 --bl: blue;
 --gr: green;
 --g: gold;
 --w: white;
 --gy: grey;
}


/* html:has(#67:checked)  {
/* --bg: #0b0b0b;
 --txt: #e0e0e0;
 --crd: #1a1a1a;
 --brd: #333333; */
 --t: #e0e0e0;
 --bobi: rgba(200, 200, 200, 0.35);
 --best: #0b0b0b;
 --b: black;
 --o: #0b0b0b;
 --r: #0b0b0b;
 --y: #1a1a1a;
 --bl: #1a1a1a;
 --gr: #1a1a1a;
 --g: #e0e0e0;
 --w: white;
 --gy: grey;
} */

:root:has(#67:checked) body {
    background: red !important;
}

#67, #69 {
 display: none;
}


/* html:has(#69:checked)  {
 filter: invert(1);
} */
